<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Not Found - DriveTest</title>
  </head>
  <!-- Include necessary head, navbar, and footer content as needed -->
  <%- include('layouts/head'); -%>

  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <header
      class="masthead"
      style="background-image: url('assets/img/post-bg.jpg')"
    ></header>
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>User Not Found :(</h1>

            <a class="btn btn-primary text-uppercase" href="/g">Go Back</a>

            <!-- Footer-->
            <%- include('layouts/footer') -%>
          </div>
        </div>
      </div>
    </main>
    <!-- JS-->
    <%- include('layouts/scripts') -%>
  </body>
</html>
